body {
	font-family: 'Roboto';
}

.team-member img {
	object-fit: cover;
}

header.masthead {
	color: black;
	padding-top: 12rem;
}

@media only screen and (max-width: 767.9px) {
	header.masthead .masthead-heading {
		font-size: 2rem;
	}
}

.logo-header {
	display: inline-block;
	width: 60vw;
	margin-left: auto;
	margin-right: auto;
	margin-top: -1.5rem;
	margin-bottom: -1.5rem;
}

@media only screen and (max-width: 767.9px) {
	.logo-header {
		margin-bottom: 2rem;
	}
}

#mainNav {
	/* background-color: rgba(255, 255, 255, .4); */
	transition: box-shadow .5s ease-out, background-color .5s ease-out, padding .5s ease-out;
}

@media only screen and (min-width: 992px) {
	#mainNav::after {
		position: absolute;
		display: block;
		content: '';
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		background: linear-gradient(180deg, rgba(255, 255, 255, .8) 50%, transparent);
		z-index: -1;
		transition: opacity .5s ease-out;
	}

	#mainNav.navbar-shrink::after {
		opacity: 0;
	}
}

ul.clients-showcase {
	font-size: 4rem;
	list-style: none;
	padding: 0;
}

ul.clients-showcase>li {
	padding: .5rem;
}

ul.clients-showcase>li>div {
	background-color: white;
	padding: 3.5rem;
}

@media only screen and (max-width: 991.9px) {
	#mainNav {
		background-color: transparent;
	}
}

#mainNav.navbar-shrink {
	background-color: white;
	box-shadow: 0 0 5px 0px rgba(0, 0, 0, .4);
}

#mainNav .navbar-nav .nav-item .nav-link {
	font-weight: bold;
}

*::placeholder {
	color: #424242 !important;
}

.hidden {
	display: none;
}